/target/
target/m2e-wtp/web-resources/META-INF/MANIFEST.MF
*.MF
.settings/org.eclipse.jpt.entitygen.new-mysql.wms_db
.settings/org.eclipse.jpt.entitygen.wms_db.wms_db
target/m2e-wtp/web-resources/META-INF/maven/wms/wms/pom.properties
