<!-- Sidebar Menu Items - These collapse to the responsive navigation menu on small screens -->
            <div class="collapse navbar-collapse navbar-ex1-collapse">
                <ul class="nav navbar-nav side-nav">
                    <li>
                        <a href="home.html"></a>
                    </li>
                    <li>
                        <a href="obra.html"><i class="fa fa-fw fa-bar-chart-o"></i> Obras</a>
                    </li>
                    <li>
                        <a href="javascript:;" data-toggle="collapse" data-target="#demo"><i class="fa fa-fw fa-arrows-v"></i> Colaboradores <i class="fa fa-fw fa-caret-down"></i></a>
                        <ul id="demo" class="collapse">
                            <li>
                                <a href="funcionario.html">Funcionário</a>
                            </li>
                            <li>
                                <a href="coordenador.html">Coordenador de Obra</a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="fornecedor.html"><i class="fa fa-fw fa-edit"></i> Fornecedores</a>
                    </li>
                    <li>
                        <a href="usuario.html"><i class="fa fa-fw fa-desktop"></i> Usuarios</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->