<div class="collapse navbar-collapse navbar-ex1-collapse">
	<ul class="nav navbar-nav side-nav">
		<li><a href="dashboard.html"><i class="fa fa-fw fa-bar-chart-o">
			</i> Dashboard </a></li>
		<li><a href="javascript:;" data-toggle="collapse"
			data-target="#cadastros"><i class="fa fa-fw fa-bar-chart-o"></i>
				Cadastros <i class="fa fa-fw fa-caret-down"></i></a>
			<ul id="cadastros" class="collapse">
				<li><a href="obras.html">Obras</a></li>
				<li><a href="clientes.html">Clientes</a></li>
				<li><a href="funcionarios.html">Funcion&aacute;rios</a></li>
				<li><a href="empresas.html">Empresas</a></li>
				<li><a href="materiais.html">Materiais</a></li>
				<li><a href="fornecedores.html">Fornecedores</a></li>
				<li><a href="contas_bancarias.html">Contas Banc&aacute;rias</a></li>
				<li><a href="usuarios.html">Usu&aacute;rios</a></li>
			</ul></li>
		<li><a href="javascript:;" data-toggle="collapse"
			data-target="#cronogramas"><i class="fa fa-fw fa-bar-chart-o"></i>
				Cronogramas <i class="fa fa-fw fa-caret-down"></i></a>
			<ul id="cronogramas" class="collapse">
				<li><a href="#">Obra 1</a></li>
				<li><a href="#">Obra 2</a></li>
				<li><a href="#">Obra 3</a></li>
			</ul></li>
		<li><a href="javascript:;" data-toggle="collapse"
			data-target="#relatorios"><i class="fa fa-fw fa-bar-chart-o"></i>
				Relat&oacute;rios <i class="fa fa-fw fa-caret-down"></i></a>
			<ul id="relatorios" class="collapse">
				<li><a href="#">Relat&oacute;rio Financeiro</a></li>
				<li><a href="#">Relat&oacute;rio de Fases</a></li>
				<li><a href="#">Relat&oacute;rio Geral</a></li>
				<li><a href="#">Relat&oacute;rio de Funcionários</a></li>
				<li><a href="#">Relat&oacute;rio de Materiais</a></li>
				<li><a href="#">Relat&oacute;rio de Usuários</a></li>
			</ul></li>
		<li><a href="javascript:;" data-toggle="collapse"
			data-target="#ajuda"><i class="fa fa-fw fa-bar-chart-o"></i> Ajuda
				<i class="fa fa-fw fa-caret-down"></i></a>
			<ul id="ajuda" class="collapse">
				<li><a href="faq.html">Perguntas Frequentes</a></li>
				<li><a href="suporte.html">Suporte</a></li>
				<li><a href="contato.html">Contato</a></li>
			</ul></li>
	</ul>
</div>