<div class="modal-header">
	<h3 class="modal-title">Fornecedor</h3>
</div>

<form class="form-horizontal" name="fornecedorForm">
	<div class="modal-body">
		<!--<label>Pessoa</label> 
		<select class="form-control"
			ng-model="fornecedor.pessoa" name="pessoa"
			ng-required="true">
			<option value="">Selecione a categoria</option>
			<option value="1">Pessoa Física</option>
			<option value="2">Pessoa Jurídica</option>
		</select>-->

		<div class="form-group">
			<div class="col-lg-6">
				<div class="form-group">
					<label class="col-lg-4 control-label">Nome</label>
				 	<div class="col-lg-8">
				 		<input class="form-control" type="text" ng-model="fornecedor.nome" name="nome" required="true" placeholder="Nome do Fornecedor">
				 	</div>
			 	</div>

				<div class="form-group">
				 	<label class="col-lg-4 control-label">Telefone</label>
					<div class="col-lg-8">
						<input class="form-control" type="text"
						ng-model="fornecedor.telefone" name="telefone" placeholder="Telefone" ui-br-phone-number /> 
					</div>
				</div>

				<div class="form-group">
					<label class="col-lg-4 control-label">Estado</label>
					<div class="col-lg-5">
						<input class="form-control" type="text" ng-model="fornecedor.localizacao.uf" name="uf" disabled="disabled" required="true">
					</div>
				</div>

				<div class="form-group">
					<label class="col-lg-4 control-label">Bairro</label>
				 	<div class="col-lg-7">
				 		<input class="form-control" text="text" ng-model="fornecedor.localizacao.bairro" name="bairro" required="true">
				 	</div>
				 </div>

				 <div class="form-group">
				 	<label class="col-lg-4 control-label">Logradouro</label>
					<div class="col-lg-8">
						<input class="form-control" type="text"
						ng-model="fornecedor.localizacao.logradouro" name="logradouro"
						placeholder="Logradouro" />
					</div>
				</div>
			</div>

			<div class="col-lg-6">
				<div class="form-group">
					<label class="col-lg-4 control-label">Contato</label>
				 	<div class="col-lg-8">
				 		<input class="form-control" type="text"
						ng-model="fornecedor.contato" name="contato" maxLength="25"
						placeholder="Nome do contato" ng-required="true" />
				 	</div>
			 	</div>

			 	<div class="form-group">
				 	<label class="col-lg-4 control-label">CEP</label>
					<div class="col-lg-5">
						<input class="form-control" type="text" name="cep" ng-model="fornecedor.localizacao.cep" maxLenght="9" ng-required="true" ui-br-cep-mask>
					</div>
					<div>
						<input type="button" class="btn btn-primary" value="Carregar" ng-click="buscarCep(fornecedor.localizacao)" ng-disabled="!fornecedor.localizacao.cep">
					</div>
				</div>

				<div class="form-group">
					<label class="col-lg-4 control-label">Cidade</label>
					<div class="col-lg-6">
						<input class="form-control" type="text"
						ng-model="fornecedor.localizacao.localidade" name="localidade" maxLength="25"
						placeholder="Cidade" disabled="disabled"/>
					</div>
				</div>

				<div class="form-group">
					<label class="col-lg-4 control-label">E-mail</label>
					<div class="col-lg-8">
						<input class="form-control" type="email" ng-model="fornecedor.email" name="email" ng-required="true">
					</div>
				</div>

				<div class="form-group">
					<label class="col-lg-4 control-label">Número</label>
					<div class="col-lg-4">
						<input class="form-control" type="text" ng-model="fornecedor.numero" placeholder="Número" ng-required="true">
					</div>
				</div>
			</div>
		</div>
	
	</div>
</form>

<div ng-show="fornecedorForm.nome.$invalid && fornecedorForm.nome.$dirty"
	class="alert alert-danger">Por favor, preencha o nome do fornecedor!</div>
<div class="modal-footer">
	<button class="btn btn-primary" ng-click="atualizar(fornecedor)"
		ng-disabled="!fornecedor.nome">Salvar</button>
	<button class="btn btn-warning" ng-click="cancelar()">Cancelar</button>
</div>