<div class="modal-header">
	<h3 class="modal-title">Unidade</h3>
</div>

<form class="form-horizontal" name="unidadeForm">
	<div class="modal-body">
		<input class="form-control" type="hidden" ng-model="unidade.idObra">
		
		<div class="form-group">
			<label class="col-lg-4 control-label">Nome</label>
			<div class="col-lg-6">
				<input class="form-control" type="text"
				ng-model="unidade.nomeUnidade" name="nome" maxLength="25"
				placeholder="Digite o nome da Unidade" ng-required="true" />
			</div>
		</div>

		<div class="form-group">
			<label class="col-lg-4 control-label">Data Início</label>
			<div class="col-lg-4">
				<p class="input-group">
          			<input type="text" 
          			class="form-control" 
          			name="dataInicio" 
          			uib-datepicker-popup="{{format}}" 
          			ng-model="unidade.dataInicio" 
          			is-open="dataInicio.aberto" 
          			min-date="minDate" 
          			max-date="maxDate" 
          			datepicker-options="dateOptions" 
          			ng-required="true"
          			current-text="Hoje" 
					clear-text="Limpar" 
					close-text="Fechar" 
          			alt-input-formats="altInputFormats" 
          			ng-focus="abrirDataInicio()" 
          			ng-blur="dataInicioChange(unidade)"
          			ng-disabled="fases.length > 0">
          		<span class="input-group-btn">
            		<button type="button" class="btn btn-default" ng-click="abrirDataInicio()" ng-disabled="fases.length > 0"><i class="glyphicon glyphicon-calendar"></i></button>
          		</span>
   			</p>
			</div>
		</div>

		<div class="form-group">
			<label class="col-lg-4 control-label">Previsão de Termino</label>
			<div class="col-lg-4">
				<p class="input-group">
          			<input type="text" 
          			class="form-control" 
          			name="dataPrevistaTermino" 
          			uib-datepicker-popup="{{format}}" 
          			ng-model="unidade.dataPrevistaTermino" 
          			is-open="dataPrevistaTermino.aberto" 
          			min-date="minDate" 
          			max-date="maxDate" 
          			datepicker-options="dateOptions" 
          			ng-required="true" 
          			current-text="Hoje" 
					clear-text="Limpar" 
					close-text="Fechar"  
          			alt-input-formats="altInputFormats" 
          			ng-focus="abrirDataPrevistaTermino()" 
          			ng-blur="dataPrevistaChange(unidade)"
	         		ng-disabled="fases.length > 0">
          		<span class="input-group-btn">
            		<button type="button" class="btn btn-default" ng-click="abrirDataPrevistaTermino()" ng-disabled="fases.length > 0"><i class="glyphicon glyphicon-calendar"></i></button>
          		</span>
   			</p>
			</div>
		</div>
			
		<div class="form-group">
			<label class="col-lg-4 control-label">Custo Previsto</label>
			<div class="col-lg-4">
				<input class="form-control" ng-model="unidade.custoPrevisto" maxLength="20"  ng-required="true" ui-money-mask/>
			</div>
			<div>
				<input class="btn btn-default" type="button" ng-click="adicionarFase()" value="Adicionar Fase" ng-disabled="unidade.dataInicio || unidade.dataPrevistaTermino">
			</div>
		</div>

		<div class="form-group">
			<label class="col-lg-4 control-label">Descrição</label>
			<div class="col-lg-7">
				<textarea class="form-control" rows="5"
				ng-model="unidade.descricao" name="descricao"></textarea>		
			</div>
		</div>
											
		<div class="row">
			<div class="col-lg-10 col-lg-offset-1" ng-init="listarFasesPorUnidade(unidade)">
				<div class="table-responsive">

					<table st-table="unidades" class="table table-striped"
						st-pagination-scroll>
						<thead>
							<tr>
								<th>Nome</th>
								<th>Data Inicio</th>
								<th>Dt Prev Term</th>
								<th>Ações</th>
							</tr>
						</thead>
						<tbody ng-repeat="fase in fases">
							<tr ng-hide="fase.editorEnabled">
								<td style="width: 23%">{{fase.nomeFase}}</td>
								<td style="width: 24%">{{fase.dataInicio | date: 'dd/MM/yyyy'}}</td>
								<td style="width: 24%">{{fase.dataPrevistaTermino | date: 'dd/MM/yyyy'}}</td>
							<!--	<td>{{fase.custoPrevisto | currency: 'R$'}}</td> -->
								<td>
									<button class="btn btn-warning"
										ng-click="fase.editorEnabled = true">
										<span class="glyphicon glyphicon-edit"></span>
									</button>
									<button class="btn btn-danger" ng-click="removerFaseBD(fase)">
										<span class="glyphicon glyphicon-remove"></span>
									</button>
								</td>
							</tr>
							<tr ng-show="fase.editorEnabled">
								<td>
									<input class="form-control" ng-model="fase.nomeFase" ng-show="fase.editorEnabled">
								</td>
								<td>
									<input class="form-control" 
									name="faseDataInicio"
									ng-model="fase.dataInicio"
									type="text"
									uib-datepicker-popup="{{format}}"
									is-open="dataInicioAberto[$index]"
									datepicker-options="dateOptions"
									current-text="Hoje" 
									clear-text="Limpar" 
									close-text="Fechar" 
									ng-show="fase.editorEnabled" 
									ng-readonly="false" 
									alt-input-formats="altInputFormats" 
									min-date="minDate[$index]" 
									max-date="maxDate[$index]" 
									ng-focus="abrirFaseDataInicio($event, $index)" 
									ng-blur="faseDataInicioChange($index, fase)" 
									ng-required="true"/> 
									<!--<span class="input-group-btn">
										<button type="button" class="btn btn-default" ng-click="abrirFaseDataInicio($event, $index)">
											<i class="glyphicon glyphicon-calendar"></i>
										</button>
									</span>-->
								</td>
								<td>
									<input class="form-control" 
									ng-model="fase.dataPrevistaTermino" 
									type="text" 
									name="faseDataPrevistaTermino" 
									uib-datepicker-popup="{{format}}" 
									is-open="dataPrevistaTerminoAberto[$index]" 
									datepicker-options="dateOptions" 
									current-text="Hoje" 
									clear-text="Limpar" 
									close-text="Fechar" 
									ng-show="fase.editorEnabled" 
									ng-readonly="false" 
									alt-input-formats="altInputFormats" 
									min-date="minDate[$index]" 
									max-date="maxDate[$index]" 
									ng-focus="abrirFaseDataPrevistaTermino($event, $index)" 
									ng-blur="faseDataInicioChange($index, fase)">
									<!--<span class="input-group-btn">
										<button type="button" class="btn btn-default" ng-click="abrirFaseDataPrevistaTermino($event, $index)">
											<i class="glyphicon glyphicon-calendar"></i>
										</button>
									</span>-->
								
								</td>
								<td style="width: 30%">
								<!--	<button class="btn bnt-success" ng-click="fase.editorEnabled = false">OK</button> -->
									<button class="btn bnt-success" ng-click="fase.editorEnabled = false">OK</button> 
									<button class="btn btn-danger" ng-click="removerFase(fase)">
										<span class="glyphicon glyphicon-remove"></span>
									</button>
								</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>

	</div>
</form>

<div class="col-lg-7">
	<div ng-show="unidadeForm.nome.$invalid && unidadeForm.nome.$dirty"
	class="alert alert-danger">Por favor, preencha o nome da Unidade!</div>
</div>

<div class="modal-footer">
	<button class="btn btn-primary" ng-click="salvarUnidade(unidade, fases)"
		ng-disabled="!unidade.nomeUnidade">Inserir</button>
	<button class="btn btn-warning" ng-click="cancelar()">Cancelar</button>
</div>