<div class="modal-header">
	<h3 class="modal-title">Usuario</h3>
</div>

<form name="usuarioForm">
	<div class="modal-body">
		<label>Nome do Usuário</label> 
		<input class="form-control" type="text"
			ng-model="usuario.nome" name="nome" maxLength="100"
			placeholder="Nome do usuário" ng-required="true" />

		<label>Login</label> 
		<input class="form-control" type="text"
			ng-model="usuario.login" name="login" maxLength="25"
			placeholder="Login" ng-required="true" />

		<label>Perfil</label> 
		<select class="form-control"
			ng-model="usuario.perfil" name="perfil"
			ng-required="true">
			<option value="">Selecione o perfil</option>
			<option value="1">Administrador</option>
			<option value="2">Coordenador</option>
		</select>
	</div>
</form>

<div ng-show="usuarioForm.nome.$invalid && usuarioForm.nome.$dirty"
	class="alert alert-danger">Por favor, preencha o nome do usuário!</div>
<div class="modal-footer">
	<button class="btn btn-primary" ng-click="atualizar(usuario)"
		ng-disabled="!usuario.nome">Salvar</button>
	<button class="btn btn-warning" ng-click="cancelar()">Cancelar</button>
</div>