<div class="modal-header">
	<h3 class="modal-title">Obra</h3>
</div>

<form name="obraForm">
	<div class="modal-body">
		<label>Nome</label> <input class="form-control" type="text"
			ng-model="obra.nome" name="nome" maxLength="25"
			placeholder="Digite o nome da Obra" ng-required="true" /> <label>Descrição</label>
		<textarea class="form-control" rows="3" ng-model="obra.descricao"
			name="descricao"></textarea>
	</div>
</form>

<div ng-show="obraForm.nome.$invalid && obraForm.nome.$dirty"
	class="alert alert-danger">Por favor, preencha o nome da Obra!</div>
<div class="modal-footer">
	<button class="btn btn-primary" ng-click="atualizar(obra)"
		ng-disabled="!obra.nome">Inserir</button>
	<button class="btn btn-warning" ng-click="cancelar()">Cancelar</button>
</div>