<div class="modal-header">
	<h3 class="modal-title">Unidade</h3>
</div>

<form name="unidadeForm">
	<div class="modal-body">
		<input class="form-control" type="hidden" ng-model="unidade.idObra">
		<label>Nome da Unidade</label>
		<input class="form-control" type="text"
			ng-model="unidade.nomeUnidade" name="nome" maxLength="25"
			placeholder="Digite o nome da Unidade" ng-required="true" />
		<label>Coordenador</label>
		<div ng-controller="UsuarioController">
			<div ng-init="listarCoordenadores()" >
				<select class="form-control" 
						ng-options="usuario as usuario.nome for usuario in usuarios" 
						ng-model="contaPagar.usuario">
					<option value="">Selecione o coordenador</option>
				</select>
			</div>
		</div>
		<label>Descrição</label>
		<textarea class="form-control" rows="3"
			ng-model="unidade.descricao" name="descricao"></textarea>
	</div>
</form>

<div ng-show="unidadeForm.nome.$invalid && unidadeForm.nome.$dirty"
	class="alert alert-danger">Por favor, preencha o nome da Unidade!</div>
<div class="modal-footer">
	<button class="btn btn-primary" ng-click="salvarUnidade(unidade)"
		ng-disabled="!unidade.nomeUnidade">Inserir</button>
	<button class="btn btn-warning" ng-click="cancelar()">Cancelar</button>
</div>