<div class="modal-header">
	<h3 class="modal-title">Conta a Pagar</h3>
</div>

<form name="contaPagarForm">
	<div class="modal-body">
		<table class="table">
			<tr>
				<td>
					<label>Nº Nota Fiscal</label> 
				</td>
				<td>
					<input class="form-control" type="text"
						ng-model="contaPagar.notaFiscal" name="notaFiscal" maxLength="25"
						placeholder="Digite o nº da nota fiscal" ng-required="true" /> 
				</td>
				<td>
					<label>Categoria de Itens</label> 
				</td>
				<td>
					<select class="form-control" type="text"
						ng-model="contaPagar.tipoConta" name="tipoConta" maxLength="25"
						ng-required="true">
						<option value="" selected="true">Selecione a categoria</option>
						<option value="1">Materiais</option>
						<option value="2">Despesas Gerais</option>
						<option value="3">Honorários</option>
						<option value="4">Máquinas</option>
						<option value="5">Equipamentos</option>
					</select> 
				</td>
			</tr>
			<tr>
				<td>
					<label>Fornecedor</label>
				</td>
				<td> 
					<select class="form-control" type="text"
						ng-model="contaPagar.fornecedor" name="fornecedor" maxLength="25"
						ng-required="true">
						<option value="" selected="true">Selecione o fornecedor</option>
						<option value="1">Fornecedor 1</option>
					</select> 
				</td>
				<td>
					<label>Valor Total</label> 
				</td>
				<td>
					<input class="form-control" type="text"
						ng-model="contaPagar.valorConta" name="valorConta"/> 
				</td>
			</tr>
			<tr>
				<td>
					<label>Forma de Pagamento</label> 
				</td>
				<td>
					<select class="form-control" type="text"
						ng-model="contaPagar.tipoPagamento" name="tipoPagamento"
						ng-required="true">
						<option value="" selected="true">Selecione a forma de pagamento</option>
						<option value="1">Forma 1</option>
					</select> 
				</td>
				<td>
					<label>Data de Vencimento</label> 
				</td>
				<td>
					<input class="form-control" type="text"
						ng-model="contaPagar.dataVencimento" name="dataVencimento"
						ng-required="true"/> 
				</td>
			</tr>
		</table>
	
	
<!-- 		ok<th>ID</th> -->
<!-- 		ok<th>Nº Nota Fiscal</th> -->
<!-- 		ok<th>Fornecedor</th> -->
<!-- 		ok<th>Tipo</th> -->
<!-- 		<th>Forma Pagamento</th> -->
<!-- 		<th>Nº de Parcelas</th> -->
<!-- 		ok<th>Data Vencimento</th> -->
<!-- 		ok<th>Valor</th> -->
	</div>
</form>

<div ng-show="contaPagarForm.notaFiscal.$invalid && contaPagarForm.notaFiscal.$dirty"
	class="alert alert-danger">Por favor, preencha o nome da conta a pagar!</div>
<div class="modal-footer">
	<button class="btn btn-primary" ng-click="atualizar(contaPagar)"
		ng-disabled="!contaPagar.notaFiscal">Salvar</button>
	<button class="btn btn-warning" ng-click="cancelar()">Cancelar</button>
</div>