<div class="modal-header">
	<h3 class="modal-title">Conta a Pagar</h3>
</div>

<form class="form-horizontal" name="contaPagarForm">
	<div class="modal-body">
		<div class="row">
			<div class="form-group">
				<label class="col-lg-3 control-label">Obra</label> 
				<div class="col-lg-3" ng-init="listarObras()">
					<select class="form-control" ng-model="contaPagar.obra" 
						ng-options="obra as obra.nome for obra in obras track by obra.nome">
						<option value="" ng-selected="true">Selecione a obra</option>
					</select>
				</div>

				<label class="col-lg-2 control-label">Unidade da Obra</label> 
				<div class="col-lg-3">
					<select class="form-control" ng-model="contaPagar.unidadeObra" 
						ng-options="unidade as unidade.nomeUnidade for unidade in unidades track by unidade.nomeUnidade">
						<option value="">Selecione a unidade</option>
					</select>
				</div>
			</div>
				<!-- <td>
					<label>Fase da Obra</label> 
				</td>
				<td>
					<select class="form-control" data-ng-model="contaPagar.faseObra" 
						data-ng-options="fase as fase.nome for unidade in unidades track by fase.nome"
						data-ng-show='unidades.length'
						data-ng-change="listarContasPagarPorUnidade()">
						<option value="" ng-selected="true">Selecione a unidade da obra</option>
					</select>
				</td> -->
		</div>
		
		<div class="row">
			<div class="form-group">
				<label class="col-lg-3 control-label">Nº Nota Fiscal</label> 
				<div class="col-lg-3">
					<input class="form-control" type="text"
						ng-model="contaPagar.notaFiscal" name="notaFiscal" maxLength="15"
						placeholder="Digite o nº da nota fiscal"  />
				</div> 

				<label class="col-lg-2 control-label">Tipo da Conta</label> 
				<div class="col-lg-3">
					<select class="form-control"
						ng-model="contaPagar.tipoConta" name="tipoConta">
						<option value="" ng-selected="true">Selecione o tipo</option>
						<option value="1">Materiais</option>
						<option value="2">Despesas Gerais</option>
						<option value="3">Honorários</option>
						<option value="4">Máquinas</option>
						<option value="5">Equipamentos</option>
					</select> 
				</div>
			</div>
		</div>

		<div class="row">
			<div class="form-group">
				<label class="col-lg-3 control-label">Fornecedor</label>
				<div class="col-lg-3" ng-controller="FornecedorController">
					<div ng-init="listarFornecedores()" >
						<select class="form-control" 
								ng-options="fornecedor as fornecedor.nome for fornecedor in fornecedores track by fornecedor.nome" 
								ng-model="contaPagar.fornecedor">
							<option value="" ng-selected="true">Selecione o fornecedor</option>
						</select>
					</div>
				</div>
				
				<label class="col-lg-2 control-label">Valor da Conta</label> 
				<div class="col-lg-3">
					<input class="form-control" type="text"
						ng-model="contaPagar.valorConta" ng-disabled="true"
						name="valorConta" ui-money-mask/>
				</div> 
			</div>
		</div>
		
		<div class="row">
			<div class="form-group">
				<label class="col-lg-3 control-label">Forma de Pagamento</label> 
				<div class="col-lg-3">
					<select class="form-control"
						ng-model="contaPagar.tipoPagamento" name="tipoPagamento">
						<option value="" ng-selected="true">Selecione a forma de pagamento</option>
						<option value="1">Forma 1</option>
					</select> 
				</div>

				<label class="col-lg-2 control-label">Vencimento</label> 
				<div class="col-lg-3">
					<p class="col-lg-12 input-group">
		           		<input type="text" 
		           			class="form-control" 
		           			name="dataVencimento" 
		           			ng-model="contaPagar.dataVencimento" 
		           			uib-datepicker-popup="{{format}}"  
		           			is-open="dataVencimento.aberto" 
		           			datepicker-options="dateOptions" 
		           			close-text="Fechar"
		           			current-text="Hoje"
		           			clear-text="Limpar" 
		           			alt-input-formats="altInputFormats" 
		           			ng-focus="abrirDataVencimento()">
		       			<span class="input-group-btn">
		            		<button type="button" class="btn btn-default" ng-click="abrirDataVencimento()"><i class="glyphicon glyphicon-calendar"></i></button>
		           		</span>
		    		</p>
	    		</div>
			</div>
		</div>
		
		<div class="row">
			<div class="col-lg-10 col-lg-offset-1">
				<div>
					<input class="btn btn-default" type="button" ng-click="adicionarItem()" value="Adicionar Item">
				</div>
				
				<div class="table-responsive">
					<table st-table="itensConta" class="table table-striped" ng-hide="itensConta.length == 0"
						ng-init="listarItensPorConta()"
						st-pagination-scroll>
						<thead>
							<tr>
								<th>Item</th>
								<th>Qtde</th>
								<th>Medida</th>
								<th>Valor Unitário</th>
								<th>Valor Total</th>
								<th>Editar</th>
								<th>Excluir</th>
							</tr>
						</thead>
						<tbody ng-repeat="itemConta in itensConta">
							<tr ng-show="itemConta.isEdited">
								<td><input type="text" class="form-control" ng-model="itemConta.nome"/></td>
								<td style="width: 65px;"><input type="text" class="form-control" ng-model="itemConta.quantidade"/></td>
								<td style="width: 65px;"><input type="text" class="form-control" ng-model="itemConta.unidade"/></td>
								<td style="width: 130px;"><input type="text" class="form-control" ng-model="itemConta.valorUnitario" ui-money-mask/></td>
								<td><input type="text" class="form-control" style="width: 130px;" ng-hide="((itemConta.valorUnitario == null) || (itemConta.quantidade == null))" value="$ {{((itemConta.valorUnitario == null) || (itemConta.quantidade == null)) || (itemConta.valorUnitario * itemConta.quantidade)}}" ng-disabled="true"/></td>
								<td><button class="btn btn-success" ng-click="calcularValorConta(); itemConta.isEdited = false;" ng-disabled="!itemConta.nome || !itemConta.quantidade || !itemConta.valorUnitario || !itemConta.unidade">Ok</button></td>
								<td>
									<button class="btn btn-danger" 
										ng-click="removerItem(itemConta)">
										<span class="glyphicon glyphicon-remove"></span>
									</button>
								</td>
							</tr>
							<tr ng-hide="itemConta.isEdited">
								<td style="width: 230px">{{itemConta.nome}}</td>
								<td style="width: 65px">{{itemConta.quantidade}}</td>
								<td style="width: 65px">{{itemConta.unidade}}</td>
								<td style="width: 130px">R$ {{itemConta.valorUnitario}}</td>
								<td style="width: 130px">R$ {{itemConta.valorUnitario * itemConta.quantidade}}</td>
								<td>
									<button class="btn btn-warning"
		                                 ng-click="itemConta.isEdited = true">
		                                 <span class="glyphicon glyphicon-edit"></span>
	                                </button>
								</td>
								<td>
									<button class="btn btn-danger" 
										ng-click="removerItem(itemConta)">
										<span class="glyphicon glyphicon-remove"></span>
									</button>
								</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
</form>
<div ng-show="contaPagarForm.notaFiscal.$invalid && contaPagarForm.notaFiscal.$dirty"
	class="alert alert-danger">	Por favor, preencha o nº da nota fiscal </div>
<div class="modal-footer">
	<button class="btn btn-primary" ng-click="atualizar(contaPagar, itensConta)"
		ng-disabled="!contaPagar.notaFiscal">Salvar</button>
	<button class="btn btn-warning" ng-click="cancelar()">Cancelar</button>
</div>