<div class="modal-header">
	<h3 class="modal-title">Cliente</h3>
</div>

<form name="colaboradorForm">
	<div class="form-group">
		<div class="modal-body">
			<div class="row">
				<div class="form-group">
					<label class="col-lg-2 control-label">Nº Contrato</label> 
					<div class="col-lg-4">
						<input class="form-control" type="text"
							ng-model="colaborador.numeroContrato" name="nContrato" maxLength="15" />
					</div> 
				</div>
			</div>
			<div class="row">
				<label class="col-lg-2 control-label">Nome</label> 
				<div class="col-lg-9">
					<input class="form-control" type="text" ng-required="true"
						ng-model="colaborador.nome" name="nome" maxLength="100" />
				</div> 
			</div>

			<div class="row">
				<label class="col-lg-2 control-label">RG</label> 
				<div class="col-lg-4">
					<input class="form-control" type="text"
						ng-model="colaborador.rg" name="rg" maxLength="15" />
				</div> 

				<label class="col-lg-1 control-label">CPF</label> 
				<div class="col-lg-3">
					<input class="form-control" type="text" ng-required="true"
						ng-model="colaborador.cpfCnpj" name="cpf" maxLength="11" />
				</div> 
			</div>

			<div class="row">
				<label class="col-lg-2 control-label">Telefone</label> 
				<div class="col-lg-4">
					<input class="form-control" type="text" ng-required="true"
						ng-model="colaborador.telefone" name="telefone" maxLength="14" />
				</div> 

				<label class="col-lg-2 control-label">CTPS</label> 
				<div class="col-lg-4">
					<input class="form-control" type="text" ng-required="true"
						ng-model="colaborador.carteiraTrabalho" name="carteiraTrabalho" maxLength="8" />
				</div> 
			</div>

			<div class="row">
				<label class="col-lg-2 control-label">Salário</label> 
				<div class="col-lg-4">
					<input class="form-control" type="text" ng-required="true"
						ng-model="colaborador.salario" name="salario" maxLength="8" />
				</div> 
			</div>
		</div>
	</div>
</form>

<div ng-show="colaboradorForm.nomeFantasia.$invalid && colaboradorForm.nomeFantasia.$dirty"
	class="alert alert-danger">Por favor, preencha o nome do funcionário!</div>
<div class="modal-footer">
	<button class="btn btn-primary" ng-click="atualizar(colaborador)">Salvar</button>
	<button class="btn btn-warning" ng-click="cancelar()">Cancelar</button>
</div>