<div class="modal-header">
	<h3 class="modal-title">Cliente</h3>
</div>

<form name="colaboradorForm">
	<div class="form-group">
		<div class="modal-body">
			<div class="row">
				<label class="col-lg-3 control-label">Funcionário</label> 
				<div ng-controller="ColaboradorController">
					 <div class="col-lg-7" ng-init="listarColaboradores()">
						 <select class="form-control" 
						 	ng-options="funcionario as funcionario.nome for funcionario in colaboradores track by funcionario.nome" 
								ng-model="colaborador.nome">
							<option value="" ng-select="true">Selecione o funcionário</option>
						</select>
					</div>
				</div>
				<label class="col-lg-3 control-label">Obra</label> 
				<div ng-controller="ObrasController">
					 <div class="col-lg-7" ng-init="listarObras()">
						 <select class="form-control" 
						 	ng-options="obra as obra.nome for obra in obras track by obra.nome" 
								ng-model="colaborador.obra">
							<option value="" ng-select="true">Selecione a obra</option>
						</select>
					</div>
				</div>
			</div>
		</div>
	</div>
</form>

<div ng-show="colaboradorForm.funcionarioObra.$invalid"
	class="alert alert-danger">Por favor, selecione o funcionário!</div>
<div ng-show="colaboradorForm.obra.$invalid"
	class="alert alert-danger">Por favor, selecione a obra!</div>
<div class="modal-footer">
	<button class="btn btn-primary" ng-click="atualizar(colaborador, obra)">Salvar</button>
	<button class="btn btn-warning" ng-click="cancelar()">Cancelar</button>
</div>