<div class="modal-header">
	<h3 class="modal-title">Item da Conta</h3>
</div>

<form class="form-horizontal" name="contaPagarForm">
	<div class="modal-body">
		<div class="row">
			<div class="form-group">
				<label class="col-lg-3 control-label">Nome do Item</label> 
				<div class="col-lg-8">
					<input class="form-control" type="text" name="nome"
						ng-model="itemConta.nome" maxLength="25" ng-required="true" />
				</div>
			</div>
		</div>
		
		<div class="row">
			<div class="form-group">
				<label class="col-lg-3 control-label">Quantidade</label>
				<div class="col-lg-3"> 
					<input class="form-control" type="number" name="quantidade" 
						ng-model="itemConta.quantidade" maxLength="6" ng-required="true" />
				</div>
				
				<label class="col-lg-2 control-label">Medida</label> 
				<div class="col-lg-3">
					<input class="form-control" type="text" name="nome"
						ng-model="itemConta.unidade" maxLength="25" ng-required="true" /> 
				</div>
			</div>
		</div>
		
		<div class="row">
			<div class="form-group">
				<label class="col-lg-3 control-label">Valor Unitário</label> 
				<div class="col-lg-3">
					<input class="form-control" type="text" name="valorUnitario"
						ng-model="itemConta.valorUnitario" maxLength="25" ng-required="true" ui-money-mask/>
				</div>
				
				<label class="col-lg-2 control-label">Total</label> 
				<div class="col-lg-3">
					<input class="form-control" type="text" name="valorTotal" disabled="disabled"
					 	value="{{itemConta.quantidade * itemConta.valorUnitario}}">
			 	</div>
		 	</div>
	 	</div>
	</div>
</form>

<div ng-show="itemConta.nome.$invalid && itemConta.nome.$dirty"
	class="alert alert-danger">	Por favor, preencha o nome do item!</div>
<div ng-show="itemConta.quantidade.$invalid && itemConta.quantidade.$dirty"
	class="alert alert-danger">	Por favor, preencha a quantidade!</div>
<div ng-show="itemConta.unidade.$invalid && itemConta.unidade.$dirty"
	class="alert alert-danger">	Por favor, preencha a unidade de medida!</div>
<div ng-show="itemConta.valorUnitario.$invalid && itemConta.valorUnitario.$dirty"
	class="alert alert-danger">	Por favor, preencha o valor unitário!</div>
<div class="modal-footer">
	<button class="btn btn-primary" ng-click="salvarItemConta(itemConta)"> Adicionar</button>
<!-- 		ng-disabled="!itemConta.nome || !itemConta.quantidade || !itemConta.valorUnitario || !itemConta.unidade"> -->
	<button class="btn btn-warning" ng-click="cancelar()">Cancelar</button>
</div>