<!-- Page Heading -->
<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">Colaboradores</h1>
        <ol class="breadcrumb">
            <li><i class="fa fa-dashboard"></i> <a href="../index.html">Dashboard</a></li>
            <li class="active"><i class="fa fa-file"></i> Colaboradores</li>
        </ol>
    </div>
</div>
<!-- /.row -->

<div class="container">
    <div ng-init="listarColaboradores()" >
        <div class="row">
            <div class="col-lg-6 col-lg-offset-2">
                <div class="form-group">
                    <input ng-model="buscaColaborador" type="text" class="form-control"
                        placeholder="Digite o nome ou ID da Colaborador">
                </div>
            </div>
            <div class="col-lg-4">
                <button class="btn btn-success" ng-click="modalUpdate()">
                    <span class="glyphicon glyphicon-plus"></span>  Adicionar Colaborador
                </button>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-10 col-lg-offset-1">
                <div class="table-responsive">
                    <table st-table="colaboradores" class="table table-striped"
                        ng-hide="colaboradores.length == 0"
                        st-pagination-scroll>
                        <thead>
                            <tr>
                                <th>ID</th>
                                <th>Nome</th>
                                <th></th>
                                <th></th>
                            </tr>
                        </thead>

                        <tbody>
                            <tr ng-repeat="colaborador in colaboradores | filter: buscaColaborador">
                                <td style="width: 15%;">{{colaborador.idColaborador}}</td>
                                <td><a ng-click="modalUpdate('lg', colaborador)">{{colaborador.nome}}</a></td>
                                <td style="width: 10%;"><button class="btn btn-warning"
                                        ng-click="modalUpdate('lg', colaborador)">Editar</button></td>
                                <td style="width: 10%;"><button class="btn btn-danger" ng-click="removerColaborador(colaborador)">Remover</button></td>
                            </tr>
                        </tbody>
                    </table>
                    <h4 ng-show="colaboradores.length == 0" class="no-result">
                        Não há colaboradores registrados
                    </h4>
                </div>
            </div>
        </div>

        <!-- ColaboradorController -->
    </div>
</div>
