<!-- Page Heading --> 
<div class="row">
    <div class="col-lg-12">
        <div class="row">
            <div class="page-header">
                <div class="col-lg-6">
                    <h2>Obra: {{obra.nome}}</h2>
                </div>
            </div>
        </div>
        <ol class="breadcrumb">
            <li><a ui-sref="dashboard">Dashboard</a></li>
            <li><a ui-sref="obras">Obras</a></li>
            <li><a ui-sref="obra(obra)">Obra</a></li>
            <li class="active"></i> Funcionários da Obra</li>
        </ol>

        <ul class="nav nav-tabs">
            <li><a ui-sref="obra(obra)">Geral</a></li>  
            <li class="active"><a ui-sref="colaboradoresObra(obra)">Funcionários</a></li>
            <li><a ui-sref="unidades(obra)">Unidades</a></li>
            <li><a ui-sref="contasPagar(obra)">Contas a Pagar</a></li>
<!--            <li><a ui-sref="comentarios">Comentários</a></li> -->
<!--            <li><a ui-sref="anexos">Anexos</a></li> -->
        </ul>
    </div>
</div>

<div class="containerNovo">
    <div ng-init="listarColaboradoresPorObra()">
        <div class="row">
            <div class="form-group">
                <input ng-model="buscaColaborador" type="text" class="form-control searchField"
                    placeholder="Digite o nome do funcionário da obra">
                <button class="btn btn-success buttonAdd" ng-click="modalUpdate('lg')">
                    <span class="glyphicon glyphicon-plus"></span> Funcionário
                </button>
            </div>
        </div>


        <div class="row">
            <div class="col-lg-12">
                <div class="table-responsive">
                    <table st-table="colaboradores" class="table table-striped"
                        ng-hide="colaboradores.length == 0"
                        st-pagination-scroll>
                        <thead>
                            <tr>
                                <th>Nome</th>
                                <th></th>
                                <th></th>
                            </tr>
                        </thead>

                        <tbody>
                            <tr ng-repeat="colaborador in colaboradores | filter: buscaColaborador">
                                <td>{{colaborador.nome}}</td>
                                <td style="width: 10%;">
                                    <button class="btn btn-warning"
                                        ng-click="modalUpdate('lg', colaborador)">
                                        <span class="glyphicon glyphicon-edit"></span>
                                    </button>
                                </td>
                                <td style="width: 10%;">
                                    <button class="btn btn-danger" ng-click="removerColaborador(colaborador)">
                                        <span class="glyphicon glyphicon-remove"></span>
                                    </button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <h4 ng-show="colaboradores.length == 0" class="no-result">
                        Não há colaboradores registrados
                    </h4>
                </div>
            </div>
        </div>

        <!-- ColaboradorController -->
    </div>
</div>
