<!-- Page Heading -->
<div class="row">
	<div class="col-lg-12">
		<h1 class="page-header">Contas a Pagar</h1>
		<ol class="breadcrumb">
			<li><i class="fa fa-dashboard"></i> <a href="../index.html">Dashboard</a></li>
			<li class="active"><i class="fa fa-file"></i> Contas a Pagar</li>
		</ol>
	</div>
</div>
<!-- /.row -->

<div class="container">
	<div ng-init="listarContasPagar()" >
		<div class="row">
			<div class="col-lg-6 col-lg-offset-2">
				<div class="form-group">
					<input ng-model="buscaContaPagar" type="text" class="form-control"
						placeholder="Digite o nome ou ID da Conta a Pagar">
				</div>
			</div>
			<div class="col-lg-4">
				<button class="btn btn-success" ng-click="modalUpdate('lg', null)">
					<span class="glyphicon glyphicon-plus"></span>  Adicionar Conta a Pagar
				</button>
			</div>
		</div>

		<div class="row">
			<div class="col-lg-10 col-lg-offset-1">
				<div class="table-responsive">
					<table st-table="contasPagar" class="table table-striped"
						st-pagination-scroll>
						<thead>
							<tr>
								<th>Nº Nota Fiscal</th>
								<th>Fornecedor</th>
								<th>Tipo</th>
								<th>Forma Pagamento</th>
								<th>Nº de Parcelas</th>
								<th>Data Vencimento</th>
								<th>Valor</th>
								<th></th>
								<th></th>
							</tr>
						</thead>

						<tbody>
							<tr ng-repeat="contaPagar in contasPagar | filter: buscaContaPagar">
								<td>{{contaPagar.notaFiscal}}</td>
								<td>{{contaPagar.fornecedor.nome}}</td>
								<td>{{contaPagar.tipoConta}}</td>
								<td>{{contaPagar.tipoPagamento}}</td>
								<td>{{contaPagar.nparcelas}}</td>
								<td>{{contaPagar.dataVencimento}}</td>
								<td>{{contaPagar.valorConta}}</td>
								<td>
									<button class="btn btn-warning"
                                        ng-click="modalUpdate('lg', contaPagar)">Editar</button>
                                </td>
                                <td style="width: 10%;">
                                	<button class="btn btn-danger" ng-click="removerContaPagar(contaPagar)">Remover</button>
                                </td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>

		<!-- ContaPagarController -->
	</div>
</div>
