<!-- Page Heading -->
<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">Contas Bancárias</h1>
        <ol class="breadcrumb">
            <li><i class="fa fa-dashboard"></i> <a href="../index.html">Dashboard</a></li>
            <li class="active"><i class="fa fa-file"></i> Contas Bancárias</li>
        </ol>
    </div>
</div>
<!-- /.row -->

<div class="container">
    <div ng-init="listarContasBancarias()" >
        <div class="row">
            <div class="col-lg-6 col-lg-offset-2">
                <div class="form-group">
                    <input ng-model="buscaContaBancaria" type="text" class="form-control"
                        placeholder="Digite o nome ou ID da Conta Bancária">
                </div>
            </div>
            <div class="col-lg-4">
                <button class="btn btn-success" ng-click="modalUpdate()">
                    <span class="glyphicon glyphicon-plus"></span>  Adicionar Conta Bancária
                </button>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-10 col-lg-offset-1">
                <div class="table-responsive">
                    <table st-table="contasBancarias" class="table table-striped"
                        ng-hide="contasBancarias.length == 0"
                        st-pagination-scroll>
                        <thead>
                            <tr>
                                <th>ID</th>
                                <th>Nome</th>
                                <th></th>
                                <th></th>
                            </tr>
                        </thead>

                        <tbody>
                            <tr ng-repeat="contasBancaria in contasBancarias | filter: buscaContaBancaria">
                                <td style="width: 15%;">{{contasBancaria.idContaBancaria}}</td>
                                <td><a ng-click="modalUpdate('lg', contasBancaria)">{{contasBancaria.nome}}</a></td>
                                <td style="width: 10%;"><button class="btn btn-warning"
                                        ng-click="modalUpdate('lg', contasBancaria)">Editar</button></td>
                                <td style="width: 10%;"><button class="btn btn-danger" ng-click="removerContaBancaria(contasBancaria)">Remover</button></td>
                            </tr>
                        </tbody>
                    </table>
                    <h4 ng-show="contasBancarias.length == 0" class="no-result">
                        Não há contas bancárias registradas
                    </h4>
                </div>
            </div>
        </div>

        <!-- ContaBancariaController -->
    </div>
</div>
