<!-- Page Heading -->
<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">Fornecedores</h1>
        <ol class="breadcrumb">
            <li><a ui-sref="dashboard"> Dashboard</a></li>
            <li class="active">Fornecedores</li>
        </ol>
    </div>
</div>
<!-- /.row -->

<div class="containerNovo">
    <div ng-init="listarFornecedores()" >
        <div class="row">
            <div class="form-group">
                <input ng-model="buscaFornecedor" type="text" class="form-control searchField"
                    placeholder="Digite o nome do fornecedor">
                <button class="btn btn-success buttonAdd" ng-click="modalUpdate('lg', fornecedor)">
                    <span class="glyphicon glyphicon-plus"></span> Fornecedor
                </button>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-12">
                <div class="table-responsive">
                    <table st-table="fornecedores" class="table table-striped"
                        ng-hide="fornecedores.length == 0"
                        st-pagination-scroll>
                        <thead>
                            <tr>
                                <th>Fornecedor</th>
                                <th>Telefone</th>
                                <th>Contato</th>
                                <th>Email</th>
                            </tr>
                        </thead>

                        <tbody>
                            <tr ng-repeat="fornecedor in fornecedores | filter: buscaFornecedor">
                                <td>{{fornecedor.nome}}</td>
                                <td>{{fornecedor.telefone}}</td>
                                <td>{{fornecedor.contato}}</td>
                                <td>{{fornecedor.email}}</td>
                                <td>
                                    <button class="btn btn-warning"
                                        ng-click="modalUpdate('lg', fornecedor)">
                                        <span class="glyphicon glyphicon-edit"></span>
                                    </button>
                                </td>
                                <td style="width: 10%;">
                                    <button class="btn btn-danger" ng-click="removerFornecedor(fornecedor)">
                                        <span class="glyphicon glyphicon-remove"></span>
                                    </button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <h4 ng-show="fornecedores.length == 0" class="no-result">
                        Não há fornecedores registrados
                    </h4>
                </div>
            </div>
        </div>

        <!-- fornecedorController -->
    </div>
</div>
