<!-- Page Heading -->
<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">Fornecedores</h1>
        <ol class="breadcrumb">
            <li><i class="fa fa-dashboard"></i> <a href="../index.html">Dashboard</a></li>
            <li class="active"><i class="fa fa-file"></i> Fornecedores</li>
        </ol>
    </div>
</div>
<!-- /.row -->

<div class="container">
    <div ng-init="listarFornecedores()" >
        <div class="row">
            <div class="col-lg-6 col-lg-offset-2">
                <div class="form-group">
                    <input ng-model="buscaFornecedor" type="text" class="form-control"
                        placeholder="Digite o nome ou ID do Fornecedor">
                </div>
            </div>
            <div class="col-lg-4">
                <button class="btn btn-success" ng-click="modalUpdate('lg', fornecedor)">
                    <span class="glyphicon glyphicon-plus"></span>  Adicionar Fornecedor
                </button>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-10 col-lg-offset-1">
                <div class="table-responsive">
                    <table st-table="fornecedores" class="table table-striped"
                        ng-hide="fornecedores.length == 0"
                        st-pagination-scroll>
                        <thead>
                            <tr>
                                <th>Fornecedor</th>
                                <th>Telefone</th>
                                <th>Contato</th>
                            </tr>
                        </thead>

                        <tbody>
                            <tr ng-repeat="fornecedor in fornecedores | filter: buscaFornecedor">
                                <td>
                                    <a ng-click="modalUpdate('lg', fornecedor)">{{fornecedor.nome}}</a>
                                </td>
                                <td>{{fornecedor.telefone}}</td>
                                <td>{{fornecedor.contato}}</td>
                                <td>
                                    <button class="btn btn-warning"
                                        ng-click="modalUpdate('lg', fornecedor)">
                                        <span class="glyphicon glyphicon-edit"></span>
                                    </button>
                                </td>
                                <td style="width: 10%;">
                                    <button class="btn btn-danger" ng-click="removerFornecedor(fornecedor)">
                                        <span class="glyphicon glyphicon-remove"></span>
                                    </button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <h4 ng-show="fornecedores.length == 0" class="no-result">
                        Não há fornecedores registrados
                    </h4>
                </div>
            </div>
        </div>

        <!-- fornecedorController -->
    </div>
</div>
