<!-- Page Heading -->
<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">Fornecedores</h1>
        <ol class="breadcrumb">
            <li><i class="fa fa-dashboard"></i> <a href="../index.html">Dashboard</a></li>
            <li class="active"><i class="fa fa-file"></i> Fornecedores</li>
        </ol>
    </div>
</div>
<!-- /.row -->

<div class="container">
    <div ng-init="listarFornecedores()" >
        <div class="row">
            <div class="col-lg-6 col-lg-offset-2">
                <div class="form-group">
                    <input ng-model="buscaFornecedor" type="text" class="form-control"
                        placeholder="Digite o nome ou ID do Fornecedor">
                </div>
            </div>
            <div class="col-lg-4">
                <button class="btn btn-success" ng-click="modalUpdate()">
                    <span class="glyphicon glyphicon-plus"></span>  Adicionar Fornecedor
                </button>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-10 col-lg-offset-1">
                <div class="table-responsive">
                    <table st-table="fornecedores" class="table table-striped"
                        st-pagination-scroll>
                        <thead>
                            <tr>
                                <th>ID</th>
                                <th>Nome</th>
                                <th></th>
                                <th></th>
                            </tr>
                        </thead>

                        <tbody>
                            <tr ng-repeat="fornecedor in fornecedores | filter: buscaFornecedor">
                                <td style="width: 15%;">{{fornecedor.idFornecedor}}</td>
                                <td><a ng-click="modalUpdate('lg', fornecedor)">{{fornecedor.nome}}</a></td>
                                <td style="width: 10%;"><button class="btn btn-warning"
                                        ng-click="modalUpdate('lg', fornecedor)">Editar</button></td>
                                <td style="width: 10%;"><button class="btn btn-danger" ng-click="removerFornecedor(fornecedor)">Remover</button></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

        <!-- fornecedorController -->
    </div>
</div>
