<!-- Page Heading -->
<div class="row">
	<div class="col-lg-12">
		<div class="row">
			<div class="page-header">
				<div class="col-lg-6">
					<h2>Obra: {{obra.nome}}</h2>
				</div>
			</div>
		</div>
		<ol class="breadcrumb">
			<li><a ui-sref="dashboard">Dashboard</a></li>
			<li><a ui-sref="obras">Obras</a></li>
			<li><a ui-sref="obra(obra)">Obra</a></li>
			<li class="active">Geral</li>
		</ol>
	</div>

	<div class="col-lg-12">
		<ul class="nav nav-tabs">
			<li class="active"><a ui-sref="obra(obra)">Geral</a></li>
			<li><a ui-sref="colaboradoresObra(obra)">Funcionários</a></li>
			<li><a ui-sref="unidades(obra)">Unidades</a></li>
			<li><a ui-sref="contasPagar(obra)">Contas a Pagar</a></li>
			<!-- 			<li><a ui-sref="comentarios">Comentários</a></li> -->
			<!-- 			<li><a ui-sref="anexos">Anexos</a></li> -->
		</ul>
		<div class="row" style="margin-top: 30px;" ng-init="init()">
			<div class="col-lg-6">
				<b>Endereço: </b> {{obra.localizacao.logradouro}} <br /> <b>Bairro:
				</b> {{obra.localizacao.bairro}} <br /> <b>Cidade: </b>
				{{obra.localizacao.localidade}} <br /> <b>Status: </b>
				Em andamento <br /> <br />
			</div>

			<div class="col-lg-4 col-lg-offset-2">
				<h2>Valor Investido: <p style="color: green;">{{obra.custoRealizado | currency: 'R$'}}</p></h2>
			</div>
		</div>

		<hr>

		<div class="row">
			<div class="col-lg-6">
				<div ng-controller="wmsSimplePieChartUnidadeController">
					<fieldset>
						<legend></legend>
						<amchart ng-model="simplePieUnidade">
						</amcharts>
					</fieldset>
				</div>
			</div>
			<div ng-controller="LancamentoController">
				<div class="col-lg-6" ng-init="listarLancamentosPorObra()">
					<legend style="text-align: center;">Ultimos Lançamentos</legend>
					<div class="table-responsive">
						<table st-table="lancamentos" class="table table-striped"
							ng-hide="lancamentos.length == 0"
							st-pagination-scroll>
							<thead>
								<tr>
									<th>Unidade da Obra</th>
									<th>Nota Fiscal</th>
									<th>Valor Pago</th>
									<th>Data Vencimento</th>
									<th>Data do Lançamento</th>
								</tr>
							</thead>

							<tbody>
								<tr ng-repeat="lancamento in lancamentos | filter: buscaLancamento">
									
								</tr>
							</tbody>
						</table>
						<h4 ng-show="lancamentos.length == 0" class="no-result">
							Não há lançamentos registrados
						</h4>
					</div>
				</div>
			</div>
		</div>
		

		<div ng-controller="wmsGanttChartController"
			ng-init="inicializadorJson(obra)">
			<fieldset>
				<legend style="text-align: center">Gantt</legend>
				<amchart ng-model='wmsGantt'></amchart>
			</fieldset>
		</div>
	</div>
</div>