<!-- Page Heading -->
<div class="row">
	<div class="col-lg-12">
		<div class="row">
			<div class="page-header">
				<div class="col-lg-6">
					<h2>Obra: {{obra.nome}}</h2>
				</div>
			</div>
		</div>
		<ol class="breadcrumb">
			<li><a ui-sref="dashboard">Dashboard</a></li>
			<li><a ui-sref="obras">Obras</a></li>
			<li><a ui-sref="obra(obra)">Obra</a></li>
			<li class="active">Unidades</li>
		</ol>

		<ul class="nav nav-tabs">
			<li><a ui-sref="obra(obra)">Geral</a></li>	
			<li><a ui-sref="colaboradoresObra(obra)">Funcionários</a></li>
			<li class="active"><a ui-sref="unidades(obra)">Unidades</a></li>
			<li><a ui-sref="contasPagar(obra)">Contas a Pagar</a></li>
<!-- 			<li><a ui-sref="comentarios">Comentários</a></li> -->
<!-- 			<li><a ui-sref="anexos">Anexos</a></li> -->
		</ul>
	</div>	
</div>

<!-- /.row -->
<div class="containerNovo">
	<div ng-init="listarUnidadesPorObra()">
		<div class="form-group">
            <input ng-model="buscaUnidade" type="text" class="form-control searchField"
                placeholder="Digite o nome do funcionário da unidade">
            <button class="btn btn-success buttonAdd" ng-click="modalUnidadeUpdate('lg')">
                <span class="glyphicon glyphicon-plus"></span> Unidade
            </button>
		</div>
	
		<div class="row">
			<div class="col-lg-12">
				<div class="table-responsive">
					<table st-table="unidades" class="table table-striped"
						ng-hide="unidades.length == 0"
						st-pagination-scroll>
						<thead>
							<tr>
								<th>Nome</th>
								<th>Data de Início</th>
								<th>Previsao para Termino</th>
								<th>Custo Previsto</th>
								<th>Editar</th>
								<th>Excluir</th>
							</tr>
						</thead>
						<tbody>
							<tr ng-repeat="unidade in unidades | filter: buscaUnidade">
								<td>{{unidade.nomeUnidade}}</td>
								<td>{{unidade.dataInicio | date :'dd/MM/yyyy'}}</td>
								<td>{{unidade.dataPrevistaTermino | date: 'dd/MM/yyyy'}}</td>
								<td>{{unidade.custoPrevisto | currency: 'R$'}}</td>
								<td style="width: 10%;">
									<button class="btn btn-warning"
										ng-click="modalUnidadeUpdate('lg', unidade)">
										<span class="glyphicon glyphicon-edit"></span>
									</button>
								</td>
								<td style="width: 10%;">
									<button class="btn btn-danger" ng-click="removerUnidade(unidade)">
										<span class="glyphicon glyphicon-remove"></span>
									</button>
								</td>
								
							</tr>
						</tbody>
					</table>
					<h4 ng-show="unidades.length == 0" class="no-result">
						Não há unidades registradas
					</h4>
				</div>
			</div>
		</div>

		<!-- ObraController -->
	</div>
</div>
