<!-- Page Heading -->
<div class="row">
	<div class="col-lg-12">
		<h1 class="page-header">{{obra.nome}}</h1>

		<ul class="nav nav-tabs">
		  <li><a ui-sref="obra(obra)">Geral</a></li>
		  <li><a ui-sref="funcionarios(obra)">Funcionários</a></li>
		  <li class="active"><a ui-sref="unidades(obra)">Unidades</a></li>
		  <li><a ui-sref="comentarios(obra)">Comentários</a></li>
		  <li><a ui-sref="anexos(obra)">Anexos</a></li>
		  <li><a ui-sref="fases(obra)">Fases</a></li>
		</ul>

		<ol class="breadcrumb">
			<li><i class="fa fa-dashboard"></i> <a href="../index.html">Obra</a></li>
			<li class="active"><i class="fa fa-file"></i> Obra</li>
		</ol>
	</div>	
</div>

<!-- /.row -->
<div class="container">
	<div ng-init="listarUnidadesPorObra()">
		<div class="row">
			<div class="col-lg-6 col-lg-offset-2">
				<div class="form-group">
					<input ng-model="buscaUnidade" type="text" class="form-control"
						placeholder="Digite o nome ou ID da Unidade">
				</div>
			</div>
			<div class="col-lg-4">
				<button class="btn btn-success" ng-click="modalUnidadeUpdate('md')">
					<span class="glyphicon glyphicon-plus"></span>Adicionar Unidade
				</button>
			</div>
		</div>
	
		<div class="row">
			<div class="col-lg-10 col-lg-offset-1">
				<div class="table-responsive">
					<table st-table="unidades" class="table table-striped"
						st-pagination-scroll>
						<thead>
							<tr>
								<th>ID</th>
								<th>Nome</th>
								<th>Data de Início</th>
								<th>Previsao para Termino</th>
								<th>Custo Previsto</th>
								<th>Editar</th>
								<th>Excluir</th>
							</tr>
						</thead>
						<tbody>
							<tr ng-repeat="unidade in unidades | filter: buscaUnidade">
								<td style="width: 15%;">{{unidade.idUnidadeObra}}</td>
								<td><a href="#!/obras/{{unidade.idUnidadeObra}}">{{unidade.nomeUnidade}}</a></td>
								<td>{{unidade.dataInicio}}</td>
								<td>{{unidade.dataPrevistaTermino}}</td>
								<td>{{unidade.custoPrevisto}}</td>
								<td style="width: 10%;">
									<button class="btn btn-warning"
										ng-click="modalUnidadeUpdate('md', unidade)">
										<span class="glyphicon glyphicon-edit"></span>
									</button>
								</td>
								<td style="width: 10%;">
									<button class="btn btn-danger" ng-click="removerUnidade(unidade)">
										<span class="glyphicon glyphicon-remove"></span>
									</button>
								</td>
								
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>

		<!-- ObraController -->
	</div>
</div>
